html{
  width:100%;
  height:100%;
}


body{
	background-image: url("../images/bg.jpg");
	background-size:auto;

}

li{
  
  display:inline;
  }

ul{

}

i{
  width: 55px;
  height:45px;
  text-align: center;
  padding-top: 15px;
  
}

.fa-facebook{
  background-color:#445897
}

.fa-rss{
  background-color:#6A8DC7
}

.fa-twitter{
  background-color:#CC8F32
}

.fa-youtube{
  background-color:#B2382D
}

#mainContainer{
  width: 80%;
  margin:0px auto;

}


#topimage{
    background: url(../images/top-image.png) no-repeat;
    background-size: 920px 430px;
    height: 250px;
    width: 740px;
    margin-left: 156px;
    border: 5px solid white;
}

.social{
  margin-right: 120px;
}

.sub{
  float:right;
  display: block;
}

#container{
  clear:both;
  width: 100%;

}

#container > ul{
  margin-top: 50px;
  text-align: center;
}


#container > ul li{
  text-align: center;
  background-color: #B4292E;
  padding:10px;
  color:white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  border-bottom: 5px solid rgba(132,131,129,0.75);
  
}

img{
  width:400px;
  height:250px;
 margin-left:20px; 
}
  




