body{
	background-image: url("../images/bg.jpg");
	background-size:auto;

}


#sub {

}

.social {
  list-style:none;
  float:right;
}

.social li {
  float:left;
  width:40px;
  height:40px;
  color:white;
  text-align:center;
  margin:5px;
  border-bottom:5px solid rgba(132,131,129,.5);
}

.menu {
  display:flex;
  justify-content:space-between;
  widows: 800px;
  padding-left:0;
  border-bottom:5px solid rgba(132,131,129,.5);
}

.menu li{
  padding:10px;
	background-color: red;
	list-style: none;
	margin-bottom: 20px;
	color: black;
  margin-left: 50px;
  margin-right: 10px;
}

.sub{
	color:red;
	border-bottom: 1px grey;
}

#top-image{
	background-image: url("../images/top-image.png");
	background-position: -100px -155px;
  height:350px;
  border-width: 5px;
}

.menu{
  font-weight: bold;
  float:right;
  margin-right: 220px;
  position: center;
}



.leftnewsbox


div, header {
	border:5px solid #fff;
  height: 500px;
  width: 800px;
  float:right;
  margin-right: 220px;
}

div.sub{
  height:100px;
}


img{
	height:300px;
	
}

i{
  color:grey;
}

