html{
  width:2000px;
  height:auto;
  box-sizing:border-box;
}

#mainContainer{
  width:1500px;
  height:1000px;
  margin:auto;
}

#overlay{
  width:2000px;
  height:2000px;
  position: absolute;
  background:rgba(0, 0, 0, .7);
  z-index: -1;
}

.menu{
  width: 1000px;

}



.button{
  color:red;
  background-color: white;
  border:0px;
  margin-left: 70px;
  font-weight: bold;
}


body{
  background-image: url("../images/bg.jpg");
  background-size:auto;
}


ul{
  padding:0;
}

li{
  height:200px;
  display:inline;
  }



i{
  width: 55px;
  height:45px;
  text-align: center;
  padding-top: 15px;
  
}

p{
  font-size: 16px;
  text-align: left;
}
  
button{
  border:0px;
  background-color: #B4292E;
  float: left;
  margin-right: 100px;
}


div.newsboxes{
    width: 1100px;
    height:310px;
    margin-top: 30px;
    margin-left: 155px;
}

div.newsBox1{
  width: 300px;
  height:300px;
  border:5px solid white;
  float:right;
  margin-right: 118px;
  display:inline;
  background-color: white;
  font-family: sans-serif;
}

div.newsBox2{
  width: 300px;
  height:300px;
  margin-right: 10px;
  border:5px solid white;
  float:right;
  display:inline;
  background-color: white;
  font-family: sans-serif;
}

div.newsBox3{
  width: 300px;
  height:300px;
  margin-right: 10px;
  border:5px solid white;
  float:right;
  display:inline;
  background-color: white;
  font-family: sans-serif;
  color:grey;
}



#topimage{
    background: url(../images/top-image.png) no-repeat;
    background-size: 1130px 430px;
    height: 250px;
    width: 1000px;
    margin-top: 40px;
    margin-left: 156px;
    border: 5px solid white;
}

.social{
  margin-bottom: 40px;
  color:grey;
  border-bottom: 2px solid rgba(132,131,129,0.75);
}

.sub{
  float:right;
  margin-right: 333px;
}

#container{
  clear:both;
  width: 100%;

}

#container > ul{
  margin-left: 470px;
 
 }

#container > ul li{
  text-align: center;
  background-color: #B4292E;
  color:white;
  font-size: 16px;
  padding:15px;
  font-family: sans-serif;
  font-weight: lighter;
  border-bottom: 5px solid rgba(132,131,129,0.75);
  
}

.faceBoxes {
  background:#000;
  border:1px solid #fff;
  color:#fff;
  width:1000px;
  height:700px;
  line-height:200px;
}

 #gallery {
  width: 1020px;
  height: 255px;
  clear: both;
  margin-left: 170px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 12px;
  border-bottom: 5px solid rgba(132,131,129,0.5);
 }

input[type=textarea] {
  height: 113px;
}

#arrow span {
  color: #FBFDFE;
  size: 16px;
  font-family: 'work-sans' sans-serif;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  color: #C2C2C2;
  font-size: 12px;
  border-left: 3px solid #AEAEAE;
}


input[type=submit] {
  background-color: #B4292E;
  border: none;
  width: 171px;
  float: right;
  text-transform: uppercase;
}




#footer {
  width: 1000px;
  height: 270px;
  margin-left:170px;
  margin-top: 25px;
  padding: 30px;
  background: #F2F2F2;
  border-bottom: 5px solid rgba(132,131,129,0.5);
  margin-bottom: 50px;

}

#footer div{
  float: left;

}

#footer div p {
  margin-top: 0;
  margin-bottom: 20px;
}

#footer div:first-child {
  width: 51%;
  margin-right: 35px;
}

#footer div:nth-child(2) {
  width: 45%;
}

.footCol > p:nth-child(2) {
  line-height: 175%;
}

.footSocial {
  margin-bottom: 10px;
  color:red; 
}

form{
  margin-left: 70px;
}

input{
  float:right;
}

#skateBorders {
  text-align:center;
  width:1000px;
  margin-top: 30px;
  height: 382px;
}


#arrow {
  font-family: 'work-sans', sans-serif;
  font-size: 28px;
  line-height: 5.5;
  width: 280px;
  height: 171px;
  margin-right: 500px;
  background: red;
  -webkit-clip-path: polygon(75% 27%, 100% 50%, 76% 74%, 0 74%, 0 44%, 0 27%);
  clip-path: polygon(75% 27%, 100% 50%, 76% 74%, 0 74%, 0 44%, 0 27%);
  position: absolute;
  left: 30px;
  top: 911px; 
  padding-top: 20px;
  border-bottom: 5px solid rgba(132,131,129,0.5);
}


.container {
  text-align:center;
  margin-left: 200px;
  height:400px;
  width:1200px;
  margin-top: 30px;
  margin-bottom: 10px;
}


span{
  padding:2px 2px;

}

input[type="radio"]{
  margin-left: 200px;

}


.item {
  background:#000;
  border:5px solid #fff;
  color:#fff;
  line-height:36px;
  width:300px;
  text-align: center;
  font-family: 'work-sans', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  height:200px;
  float:left;
  margin:5px;

}

.item:first-child{
  background-image: url("../images/sk8er-4.png");
  background-size: 400px;
  background-position: 300px 200px;
}

.item:nth-child(2){
  background-image: url("../images/sk8er-3.png");
  background-size: 355px;
  background-position: 300px 200px;
}

.item:nth-child(3) {
  clear:left;
  width:620px;
  background-image: url("../images/sk8er-1.png");
  background-size: 700px;
  background-position: 0px 255px;
}

 .item:nth-child(4) {
    height: 420px;
    margin: -215px 100px 0 10px;
    background-size: 1000px;
    background-position: 430px 430px;
    background-image: url(../images/sk8er-2.png);
 }
